<!DOCTYPE html>

<html lang="fr">
            <head>
			   <meta charset="UTF-8">
			   
			</head>
			<body>
					<div>
							<button id="ent">Entrprise</button>
							<button id="etu">Étudiant</button>
							<button id="dec">Déconnexion</button>
							<div *ngIf="entreprises"> Yeeee {{ entreprises  }}</div>
							<div *ngIf="!entreprises"> Chargement...</div>
							<input type="text" placeholder="Recherche" id="txtRecherche" [(ngModel)]="annee">
							<button id="rech"  (click)="getEntreprise(annee)" >Recherche</button>
							<li *ngFor="let entreprise of entreprises">
 								<span>{{entreprise.courriel | json}}</span>
							</li>

							
					</div>
			</body>

</html>