


            
					
						<nav>
							<ul>
								<li><a routerLink="accueil-enseignant/recherche-etudiant" routerLinkActive="active">Etudiants</a></li>
								<li><a routerLink="/accueil-enseignant" routerLinkActive="active">Entreprises</a></li>
								
							</ul>
						</nav>
						<div id="principal">
						<router-outlet></router-outlet>
							<p id="dec" (click)="Deconnexion()">Déconnexion</p>
							
							<div>
								
									<button id="etu">Étudiant</button>
									
									<div *ngIf="!entreprises"> Chargement...</div>
									<input type="text" placeholder="Recherche" id="txtRecherche" [(ngModel)]="Recherche">
									<button id="rech"  (click)="getEntreprise(Recherche,annees)" >Recherche</button>	
									<input type="text" placeholder="Annee" id="txtAnnee" [(ngModel)]="annees">

									<table border=1 >
										<tr>
											<th>
												Nom d'entreprise
											</th>
											<th>
												Lieu
											</th>
											<th>
												Numéro Téléphone
											</th>
											<th>
												Poste
											</th>
											<th>
												Personne Responsable
											</th>
											<th>
												Nombre d'étudiant acceptés 
											</th>
											<th>
												Nombre d'étudiant refusés
											</th>
											<th>
												Courriel du responsable 
											</th>
											<th>
												Date
											</th>
										</tr>
										<tr *ngFor="let entreprise of entreprises">
											<td> {{entreprise.nomEntreprise }}</td>
											<td> {{entreprise.lieu}}</td>
											<td> {{entreprise.noTel }}</td>	
											<td> {{entreprise.poste}}</td>
											<td> {{entreprise.personneResponsable}}</td>
											<td> {{entreprise.nbreOui}}</td>
											<td> {{entreprise.nbreNon}}</td>
											<td> {{entreprise.courrielRes}}</td>
											<td> {{entreprise.date}}</td>
										</tr>
									</table>

									<select [(ngModel)]="annees">
										<option></option>
										<option *ngFor=" let value of TAnnees">
											{{value}}
										</option>
									</select>
							</div>
		
								
								
								

							
					</div>
					

