<h1>ALLO LE MONDE</h1>

<input  *ngIf="PageModifier == false" id="noda" type="text" [(ngModel)]="etu.noDa"/>
<br/>
<input id="nom" type="text" [(ngModel)]="etu.nom"/>
<br/>
<input id="prenom"type="text" [(ngModel)]="etu.prenom"/>
<br/>
<input id="courriel" type="text" [(ngModel)]="etu.addresseCourriel"/>
<br/>
<input  id="motpasse" type="text" [(ngModel)]="etu.motPasse"/>
<br/>
<input id="profil" type="text" [(ngModel)]="etu.profil"/>
<br/>
<input id="notel" type="text"[(ngModel)]="etu.noTel"/>
<br/>
<div *ngIf="PageModifier == false">
     <input id="nomens" type="text" [(ngModel)]="enseignant.nom"/>
    <br/>
    <input id="entnom" type="text" [(ngModel)]="entreprise.nomentreprise"/>
     <br/>

    <input id="fichier" type="file" name="file" id="file" class="inputfile"  (change)="fileChange($event)" accept=".pdf,.doc,.docx,.jpg,.png"/>
    <br/>
    <input id="soumettre" type="button" value="soumettre"id="btnAjouterTrace" (click)=" RequeteInsertPATHCV()"/>

    <br/>
    <button routerLink="/profil-etudiant" routerLinkActive="active">Mettre à jour mon profil</button> 
    <br/>
    <button routerLink="/changer-Mdpetudiant">changez de mot de motPasse</button>

</div>

