<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <div *ngIf="ErreurModifier"> Erreur de modification de l'entreprise</div>
        <div *ngIf="ErreurSupprimer">Erreur lors de la suppression de l'entrepise</div>
            <div id="DivNom">
                Nom de l'entreprise:
                <input type="text" [(ngModel)]="entreprise.nomEntreprise" placeholder="name"/>
            </div>
            <br />
            <div id=" = DivAnnee">
                Annee :
                <input type="text" [(ngModel)]="entreprise.date" placeholder="name" />
            </div>
            <div id="DivLieu">
                Lieu:
                <input type="text" [(ngModel)]="entreprise.lieu" placeholder="name"/>
            </div>
            <br />
            <div id="DivPersonneRes">
                Nom de la personne responsable:
                <input type="text" [(ngModel)]="entreprise.personneResponsable" placeholder="name"  />
            </div>
            <br />
            <div id="DivNotel">
                Numero de telephone de la personne responsable:
                <input type="text" [(ngModel)]="entreprise.noTel" placeholder="name"/>
            </div>
            <br />
            <div id=" = DivPoste">
                Poste de la personne responsable:
                <input type="text" [(ngModel)]="entreprise.poste" placeholder="name"/>
            </div>
            <br />
            <div id=" = DivCourrielRes">
                Courriel de la personne responsable:
                <input type="text" [(ngModel)]="entreprise.courrielRes" placeholder="name" />
            </div>
            <table title="Nombre d'étudiants par catégorie de sélection">
                <tr>
                    <th>Vacants</th>
                    <th>Pris</th>
                    <th>Peut-etre</th>
                    <th>Probablement non</th>
                    <th>Non</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" [(ngModel)]="entreprise.nbreConfirmation" placeholder="name" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="entreprise.nbreOui" placeholder="name" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="entreprise.nbrPeutEtre" placeholder="name" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="entreprise.nbreProbablementNon" placeholder="name" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="entreprise.nbreNon" placeholder="name" />
                    </td>
                </tr>
            </table>
            <div *ngIf="PageAjouter == false">
                <button (click)="Modifier()">Modifier</button>
                <button (click)="Supprimer()">Supprimer</button>
                <button (click)="AjouterAnnee()">Ajouter annee </button>
            </div>
        <button (click)="goBack()"> Retour </button>
        <button *ngIf="PageAjouter == true"(click)="Ajouter()"> Ajouter </button>
        </div>
</body>
</html>