<div id="d1">
    
       
        <input type="text" placeholder="Recherche" id="recherche" [(ngModel)]="Recherche">
        <button class="loupe"   (click)="getEtudiant(Recherche,annees)" ></button>	
        <a  class="btn icon-btn btn-danger" id="Supprimer" (click)="SupprimerEtudiantSelect()"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>Supprimer</a>
   <table border=1 >
                <caption>Tableau de données des étudiants(es)</caption>
    <thead>	
           <tr>
                <th>
                    Nom d'étudiant
                </th>
                <th>
                    Prénom
                </th>
                <th>
                   Profil
                </th>
                <th>
                    Nom Compagnie
                </th>
               
                <th id="date">
                   Année
                </th>
                <th>
                    
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let etudiant of etudiants">
                <td class="nomEnt"  [routerLink]="['/detailEtudiant', etudiant.noDa]"  routerLinkActive="active" (click)="PageInfo()"> {{etudiant.nom }}</td>
                <td> {{etudiant.prenom}}</td>
                <td> {{etudiant.profil }}</td>	
                <td> {{etudiant.nomentreprise}}</td>
                <td> {{etudiant.annee}}</td>
                <td><input id="checkBox" type="checkbox" (change)="selectEtudiant(etudiant, $event)" ></td>
                <td><a [routerLink]="['/detailEtudiant', etudiant.noDa]"  routerLinkActive="active"  class="btn icon-btn btn-primary" id="Modifier" (click)="PageModif()"><li><i class="fa fa-pencil fa-fw"></i>Modifier</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn icon-btn btn-success"  id="btn">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
        ajouter un étudiant
    
    </a>
        <select [(ngModel)]="annees">
            <option></option>
            <option *ngFor=" let value of TAnnees">
                {{value}}
            </option>
        </select>
       
</div>
