<div>
        <input type="text" placeholder="Recherche" id="recherche" [(ngModel)]="Recherche">
        <button class="loupe"   (click)="getEntreprise(Recherche,AnneeRecherche)" ></button>	
        <table border=1>
            <caption>Tableau de données des entreprises</caption>
            <thead>
                <tr>
                    <th>
                        Nom d'entreprise
                    </th>
                    <th>
                        Lieu
                    </th>
                    <th>
                        Numéro Téléphone
                    </th>
                    <th>
                        Poste
                    </th>
                    <th>
                        Personne Responsable
                    </th>
                    <th>
                        Nombre d'étudiants acceptés
                    </th>
                    <th>
                        Nombre d'étudiants refusés
                    </th>
                    <th>
                        Courriel du responsable
                    </th>
                    <th id="date">
                        Date(Année)
                    </th>
                    <th>
                        Supprimer
                    </th>
                    <th>
                        Modifier
                    </th>
                    <th>
                        Ajouter à l'année courante
                    </th>
                    <th>
                        Voir l'entreprise
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let entreprise of entreprises">
                    <td> {{entreprise.nomentreprise }}</td>
                    <td> {{entreprise.lieu}}</td>
                    <td> {{entreprise.notel }}</td>
                    <td> {{entreprise.poste}}</td>
                    <td> {{entreprise.personneresponsable}}</td>
                    <td> {{entreprise.nbreoui}}</td>
                    <td> {{entreprise.nbrenon}}</td>
                    <td> {{entreprise.courrielres}}</td>
                    <td> {{entreprise.date}}</td>
                    <td><button class="btn icon-btn btn-danger" (click)="Supprimer(entreprise.id);"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle"></span>Supprimer</button></td>
                    <td><button class="btn icon-btn btn-primary" *ngIf="entreprise.date==AnneeCourante" [routerLink]="['/detailEntreprise', entreprise.id]" routerLinkActive="active"><i class="fa fa-pencil fa-fw"></i>Modifier</button> </td>
                    <td><button class="btn icon-btn btn-info" *ngIf="entreprise.date!=AnneeCourante" id="AjouterAnnee" (click)="AjouterAnnee(entreprise)">Ajouter à l'année courante</button></td>
                    <td><button class="btn icon-btn btn-block" (click)='getEntreprise(entreprise.nomentreprise,"")'>Consulter toutes les années</button></td>
                </tr>
            </tbody>
        </table>
        <a class="btn icon-btn btn-success" [routerLink]="['/detailEntreprise', -1]" routerLinkActive="active" id="btn">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
            ajouter une entreprise
        </a>
        <select [(ngModel)]="AnneeRecherche">
            <option></option>
            <option *ngFor=" let value of TAnnees">
                {{value}}
            </option>
        </select>
</div>

    
    
    



