/*#principalDiv {
    background-color:red;
    width: 100%;
    height: 100%;
    position: fixed;
}



.nomEnt {
    color: red;
    cursor: pointer;
    font-size: x-large;
}

#Supprimer {
    border-radius: 25px;
    cursor: pointer;
}





#divConteneur {
    background-color: gray;
    display: inline-block;
}
#date {
    width: 20px;
}

#btn {
    top: 25%;
    left: 5%;
    position: fixed;
    cursor: pointer;
    text-decoration: none;
    color: wheat;
    font-size: 100%;
}

table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    border-radius: 5px;
}

thead {
    background-color: #D0E3FA;
    border: 1px solid #6495ed;
}

th {
    font-family: monospace;
    border: 1px dotted #6495ed;
    padding: 5px;
    background-color: #EFF6FF;
    width: 25%;
}

td {
    font-family: sans-serif;
    font-size: 80%;
    border: 1px solid #6495ed;
    padding: 5px;
    background-color: #EFF6FF;
    text-align: left;
}

caption {
    font-family: sans-serif;
    color: wheat;
    font-size: bold;
    text-align: center;
}
*/
/***********************************************************/
#PageGlobale {
    background-color: red;
    width: 100%;
    height: 100%;
    position: fixed;
}

#DivContenuPage {
  background-color:chartreuse;
  margin-top:150px;
  margin-left:5%;
  margin-right:5%;
}

#loupe {
    background: url(images/loupe.png) no-repeat 0 0;
    width: 30px;
    height: 30px;
    border-radius: 2em;
    cursor: pointer;
}

#recherche {
    width: 50px;
    height: 30px;
    background: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3) inset;
    border-radius: 2em;
    text-align: center;
}

/*
#DivTable {
    display: inline-block;
    width: 100%;
    max-height: 700px;
    margin-left: 0px;
    border: 2px;
    border: medium solid #6495ed;
    margin-top: 10px;
}






#loupe {
    background: url(images/loupe.png) no-repeat 0 0;
    width: 30px;
    height: 30px;
    position: fixed;
    left: 70%;
    top: 20%;
    border-radius: 2em;
    cursor: pointer;
}
#recherche {
    width: 208px;
    height: 30px;
    background: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3) inset;
    border-radius: 2em;
    position: fixed;
    left: 70%;
    top: 20%;
    text-align: center;
}

.suggestions {
    position: absolute;
    left: 66%;
    top: 25%;
    z-index: 1000;
}

    .suggestions a {
        font-weight: normal;
        color: #333333;
        text-decoration: none;
        cursor: pointer;
        line-height: 1.5;
        font-size: 20px;
        color: black;
        cursor: pointer;
    }
.liautocomplete {
    position: relative;
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
    clear: left;
    width: 208px;
    max-height: 200px;
    overflow: auto;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.49);
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #eeeeee;
    border-radius: 4px;
    text-align: center;
}

select {
    position: fixed;
    left: 88%;
    top: 20%;
    border-radius: 2em;
}*/